.container {
    display: flex;
    flex-direction: column;
}

#new {
    max-width: 100px;
}

.bookForm {
    display: none;
    justify-content: center;
    align-items: center;
}

.formComponents {
    max-width: 300px;
    padding: 10px;
    background-color: rgb(228, 228, 228);
}

input[type=text]{
    width: 90%;
    padding: 10px;
    margin: 5px 0 22px 0;
}